@import url('https://fonts.googleapis.com/css?family=Chivo:400,700|Roboto:400,400i,700');

$secondary-font: "Chivo", Georgia, serif;
$primary-font: "Roboto", Helvetica, Arial, sans-serif;

$blue: #096ab4;
$green: #157130;
$yellow: #EAC435;
$pink: #E40066;
$mint: #03CEA4;
$dark: #000;
$light: #FEFEFE;
$white: #FFF;