.wrv-accordion {
  width: 85%;
}
.wrv-accordion a {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  padding: 1rem 3rem 1rem 1rem;
  color: black;
  font-size: 1.15rem;
  font-weight: 400;
  border-bottom: 3px solid #156cb2;
  background: #f2f7fa;
}

.wrv-accordion a:hover,
.wrv-accordion a:hover::after {
  cursor: pointer;
}

.wrv-accordion a:hover::after {
  border: 1px solid #156cb2;
}

.wrv-accordion .content {
  opacity: 0;
  padding: 0 1rem;
  max-height: 0;
  overflow: hidden;
  clear: both;
  -webkit-transition: all 0.2s ease 0.15s;
  -o-transition: all 0.2s ease 0.15s;
  transition: all 0.2s ease 0.15s;
}

.wrv-accordion .content p {
  font-size: 1rem;
  font-weight: 300;
}

.wrv-accordion .content.active {
  opacity: 1;
  padding: 1rem;
  max-height: 100%;
  -webkit-transition: all 0.35s ease 0.15s;
  -o-transition: all 0.35s ease 0.15s;
  transition: all 0.35s ease 0.15s;
}