---
---

@import "{{ site.theme }}";

#main-menu a { 
  color:#fff;
} 

#main-menu a.current { 
  text-decoration: underline;
}

#main-menu ul {
  list-style-type: none;
  white-space: nowrap; /* Keep menu items from breaking across lines */
}

#main-meny li {
  display: inline;
}
