---
---

@import "{{ site.theme }}";
@import "variables";
@import "typography";
@import "theme_overrides";


/* ---------- MAIN MENU STYLING --------- */
#main-menu {
  background: $green;
  padding: 1em;

  .inner {
    max-width: 1366px;
    padding: 0 2%;
  }
}

#main-menu a {
  color: $light;
}

#main-menu a.current {
  text-decoration: underline;
}

#main-menu ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

#main-menu li {
  display: inline-block;
  padding-right: 3em;
  margin: 0;
}


/* ----------- COLLAPSABLE LISTS --------- */

/* Make buttons inline with their headings */
button.toggle-button {
  float: right;
}

/* Style buttons to be less ugly */
button.toggle-button {
  color: black;
  background-color: Transparent;
  border: 0.2em solid black;
  font-size: smaller;

  /* Push button down a touch */
  margin-top: 0.2em;
}

button.toggle-button:hover {
  color: white;
  background-color: black;
}


h2.inline, h3.inline, h4.inline {
  display: inline;
}

/* h4 and h3 do not look sufficiently different. */
h4.race-wrapper, h4.inline {
  font-size: 1.2em;
}

/* Stop buttons from crashing into each other */
div.spacer {
  display: block;
  min-height: 2em;
}

/* Move continuation UL elements up so they look
 * like they merged with the previous lists.
 */
ul.continue {
  margin-top: -15px;
}


/* ------------ FOOTER STYLING ----------- */

div.footer {
  font-size: smaller;
}

p.sharing a {
  margin-left: 0.5em;
  margin-right: 0.5em;
}

#footer_wrap {
  background: $dark;
  color: $light;
  position: absolute;
  bottom: 0;

  footer.inner {
    max-width: 1366px;
    padding: 1% 2%;

    p {
      color: $light;
    }

    a {
      color: $light;
      &:hover, &:focus {
        color: $pink;
      }
    }

    ul {
      list-style: none;
    }

    .minicaps {
      font-family: $secondary-font;
      font-weight: 700;
    }

    .sharing {
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;
      align-items: center;
      border-bottom: 1px solid white;
      padding: 1em 0;

      > div {
        margin-right: 10px;
      }

      a {
        text-decoration: none;
      }

      span.icon {
        height: 24px;
        width: 24px !important;
        padding: 3px;
        border-radius: 20px;
        display: inline-flex;
        align-items: center;
        justify-content: center;

        &:hover {
          background: $pink;
        }
      }

      img {
        height: 18px;
        width: 18px;
      }
    }

    .contact, .links {
      padding: 1em 0;

      ul {
        li {
          margin: 0;
        }
      }
    }

    .links {
      ul {
        column-count: 2;
      }
    }

    .footer-columns {
      display: flex;
      flex-wrap: wrap;

      > div {
        flex: 1 0 50%;
      }
    }

    .email {
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;
      align-items: center;
      border-top: 1px solid white;
      padding: 1em 0;
    }
  }
}


/* ---------- EMAIL OBFUSCATION ----------- */

/* Email obfuscation, stolen from CivicTechWR page. */
my-email::after {
  content: attr(data-domain);
}

my-email::before {
  content: attr(data-user) "\0040";
}

/* --------- FRONT PAGE ------------- */

/* Make big bold text */
p.bigtext {
  text-align: center;
  font-size: x-large;
}

/* ------ EMBED GOOGLE CALENDAR RESPONSIVELY ----- */

/* Embed Google calendar responsively.
 * See: embedresponsively.com
 */
.embedContainer {
    position: relative;
    padding-bottom: 56.25%;
    overflow: hidden;
    max-width: 100%;

    /* This should probably be rex, but that
     * does not exist. It is not clear whether
     * rem or em is more appropriate.
     */
    /* height: 20em; */
    height: 0;
}

.embedContainer iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* ------ REDO SEARCHABLE MAP ----- */

#map {
    /* float:left; */
    width:100%;
    height:40em;
}

#map img {
    margin:0;
    padding: 0;
}

#map-searchbar {
    width: 100%;
    display: flex;
    margin-bottom: 1em;

    .search-input {
      flex-grow: 1;
      padding: 3px 6px;
      font-family: $primary-font;
      font-size: inherit;

      &:placeholder {
        font-size: inherit;
        text-overflow: ellipsis;
      }
    }

    .leaflet-control-search {
      .search-cancel {
        margin: 0;
        margin-right: 6px;
      }
    }

    .leaflet-control-search.search-exp {
      flex-grow: 1;
      display: flex;
      position: relative;
      align-items: center;
      border: none;
    }
}

/* ------ RESULTS PAGE ------ */

.jurisdiction {
  display: flex;
  flex-wrap: wrap;
  background: #FEFEFE;
  margin: -0.5em;
}

.grid-item {
  flex: 0 0 25%;
  min-width: 200px;

  .candidate-card {
    border: 1px solid $dark;
    margin: 0.5em;

    .title {
      background-color: $dark;
      padding: 1em;
      color: $white;
      margin: 0;
      font-weight: bold;
      text-transform: uppercase;
      text-align: center;
    }

    .card-content {
      padding: 1em;
      padding-bottom: 0;
      text-align: center;

      .image {
          display: flex;
          justify-content: center;
          align-items: center;

        img {
          height: 120px;
          width: 120px;
          border-radius: 120px;
          background: $light;
          padding: 0;
          border: 1px solid $dark;
          object-fit: cover;
        }
      }
    }

    .contact {
      display: flex;
      padding: 1em;
      padding-top: 0;

      .contact-item {
        flex: 1 0 25%;

        .contact-item-inner {
          padding: 6px;
          text-align: center;
        }
      }
    }
  }

}

.wrv-accordion {
  a.toggle {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 1rem 3rem 1rem 1rem;
    color: black;
    font-size: 1.15rem;
    font-weight: 400;
    border-bottom: 3px solid #156cb2;
    background: #f2f7fa;
    &:hover {
      cursor: pointer;
      &::after {
        cursor: pointer;
        border: 1px solid #156cb2;
      }
    }
  }
  .content {
    opacity: 0;
    padding: 0 1rem;
    max-height: 0;
    overflow: hidden;
    clear: both;
    -webkit-transition: all 0.2s ease 0.15s;
    -o-transition: all 0.2s ease 0.15s;
    transition: all 0.2s ease 0.15s;
    p {
      font-size: 1rem;
      font-weight: 300;
    }
    &.active {
      opacity: 1;
      padding: 1rem;
      max-height: 100%;
      -webkit-transition: all 0.35s ease 0.15s;
      -o-transition: all 0.35s ease 0.15s;
      transition: all 0.35s ease 0.15s;
    }
  }
}

@media screen and (max-width: 1100px) {
  .grid-item {
    flex: 1 0 50%;
  }
}


@media screen and (max-width: 768px) {
  .grid-item {
    flex: 1 0 100%;
  }
}