---
---

@import "{{ site.theme }}";
@import "variables";
@import "typography";
@import "theme_overrides";


/* ---------- MAIN MENU STYLING --------- */
#main-menu {
  background: $green;
  padding: 1em;

  .inner {
    max-width: 1366px;
    padding: 0 2%;
  }

  .inner::after { 
    /* Clearfix hack so menu button shows */
    content: "";
    clear: both;
    display: table;
  }

  a {
    color: $light;
  }

  a.current {
    text-decoration: underline;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
  }

  li {
    display: inline-block;
    padding-right: 3em;
    margin: 0;
  }

}

button.toggle-menu { 
  background: inherit;
  font-size: 1.5em;
  font-family: $primary-font;
  color: $light;
  min-width: 1em;
  border: 0;
} 


@media screen and (min-width: $menu-breakpoint) {
  button.toggle-menu { 
    display: none;
  }

  #main-menu-ul { 
    display: block;
  }
}

@media screen and (max-width: $menu-breakpoint) {
  button.toggle-menu { 
    display: block;
    float: right;
  }

  #main-menu-ul.hidden { 
    display: none;
  } 

  #main-menu-ul { 
    display: block;

  }
}

/* ----------- TOC BUTTONS --------------- */

button.toggle-toc { 
  background: inherit;
  float: right;
  font-size: 2em;
  font-family: $primary-font;
  color: $light;
  border-width: 1px;
  border-color: $light;
  min-width: 1em;
  margin-top: 10px; /* align with H2 */

} 

@media screen and (min-width: $sidebar-breakpoint) {
  button.toggle-toc { 
    display: none;
  }

  #toc-list { 
    display: block;
  }
}

@media screen and (max-width: $sidebar-breakpoint) {
  button.toggle-toc { 
    display: inline;
  }

  #toc-list.hidden { 
    display: none;
  } 

  #toc-list { 
    display: block;

  }
}


/* ----------- COLLAPSABLE LISTS --------- */


/* Make this button look like a regular link */
button.toggle-button {
  color: $blue;
  font-size: smaller;
  border-color: $blue;
  border-left: none;
  border-right: none;
  border-top-width: 1px;
  border-bottom-width: 1px;
  background: inherit;

  &:hover {
    color: $pink;
    
  }
}

h2.inline, h3.inline, h4.inline {
  display: inline;
}

/* h4 and h3 do not look sufficiently different. */
h4.race-wrapper, h4.inline {
  font-size: 1.2em;
  
}

/* Stop buttons from crashing into each other */
div.spacer {
  display: block;
  min-height: 2em;
}

/* Move continuation UL elements up so they look
 * like they merged with the previous lists.
 */
ul.continue {
  margin-top: -15px;
}

.media-list { 
  margin-bottom: 1em;
}

.toggleable:hover { 
  cursor: pointer;
  border-bottom: 3px solid; 
}

.toggle-content { 
  display: none;
  max-height: 0;
  transition: all 0.2s ease 0.15s;
  
  &.active { 
    max-height: 100%;
    display: block;

    transition: all 0.35s ease 0.15s;
    margin-bottom: 3em;
  } 

} 


/* ------------ FOOTER STYLING ----------- */

div.footer {
  font-size: smaller;
}

p.sharing a {
  margin-left: 0.5em;
  margin-right: 0.5em;
}

#footer_wrap {
  background: $dark;
  color: $light;
  position: absolute;
  bottom: 0;

  footer.inner {
    max-width: 1366px;
    padding: 1% 2%;

    p {
      color: $light;
    }

    a {
      color: $light;
      &:hover, &:focus {
        color: $pink;
      }
    }

    ul {
      list-style: none;
    }

    .minicaps {
      font-family: $secondary-font;
      font-weight: 700;
    }

    .sharing {
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;
      align-items: center;
      border-bottom: 1px solid white;
      padding: 1em 0;

      > div {
        margin-right: 10px;
      }

      a {
        text-decoration: none;
      }

      span.icon {
        height: 24px;
        width: 24px !important;
        padding: 3px;
        border-radius: 20px;
        display: inline-flex;
        align-items: center;
        justify-content: center;

        &:hover {
          background: $pink;
        }
      }

      img {
        height: 18px;
        width: 18px;
      }
    }

    .contact, .links {
      padding: 1em 0;

      ul {
        li {
          margin: 0;
        }
      }
    }

    .links {
      ul {
        column-count: 2;
      }
    }

    .footer-columns {
      display: flex;
      flex-wrap: wrap;

      > div {
        flex: 1 0 50%;
      }
    }

    .email {
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;
      align-items: center;
      border-top: 1px solid white;
      padding: 1em 0;
    }
  }
}


/* ---------- EMAIL OBFUSCATION ----------- */

/* Email obfuscation, stolen from CivicTechWR page. */
my-email::after {
  content: attr(data-domain);
}

my-email::before {
  content: attr(data-user) "\0040";
}

/* --------- FRONT PAGE ------------- */

/* Make big bold text */
p.bigtext {
  text-align: center;
  font-size: x-large;
}

/* ------ EMBED GOOGLE CALENDAR RESPONSIVELY ----- */

/* Embed Google calendar responsively.
 * See: embedresponsively.com
 */
.embedContainer {
    position: relative;
    padding-bottom: 56.25%;
    overflow: hidden;
    max-width: 100%;

    /* This should probably be rex, but that
     * does not exist. It is not clear whether
     * rem or em is more appropriate.
     */
    /* height: 20em; */
    height: 0;
}

.embedContainer iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* ------ REDO SEARCHABLE MAP ----- */

#map {
    /* float:left; */
    width:100%;
    height:40em;
}

#map img {
    margin:0;
    padding: 0;
}

#map-searchbar {
    width: 100%;
    max-width: 100%;
    display: flex;
    margin-bottom: 1em;

    .search-input {
      flex-grow: 1;
      padding: 3px 6px;
      font-family: $primary-font;
      font-size: inherit;

      &:placeholder {
        font-size: inherit;
        text-overflow: ellipsis;
      }
    }

    .leaflet-control-search {
      .search-button {
        /* margin: 0;
         * margin-right: 6px;
         */
        /* the cancel and the magnifying glass are both useless.
         * They also overlap each other. The magnifying glass is 
         * more useless?? So we drop that one.
         */
        display: none !important; 
      }

      /* You need this to prevent overflow on mobile */
      .search-tooltip {
        max-width: inherit;
      }

    }


    .leaflet-control-search.search-exp {
      flex-grow: 1;
      display: flex;
      position: relative;
      align-items: center;
      border: none;
      max-width: 100%;
    }
}

/* ------ RESULTS PAGE ------ */

.candidate-list-grid { 
  display: grid;
  /* 450px */
  grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
  grid-auto-rows: 1fr;
  margin-bottom: 2em;
}

.jurisdiction {
  display: flex;
  flex-wrap: wrap;
  background: #FEFEFE;
  margin: -0.5em;
}

.grid-item {
  /* flex: 1 0;
     min-width: 200px;
  */

  .candidate-card {
    border: 1px solid $dark;
    margin: 0.5em;

    .title {
      background-color: $dark;
      padding: 0.65em 0.75em;
      color: $white;
      margin: 0;
      font-weight: bold;
      text-transform: uppercase;
      text-align: center;
    }

    .card-content {
      padding: 0.6em 0.65em;
      text-align: left;

      .identity {
        display: flex;
        align-items: center;
        gap: 0.65em;

        .image {
          flex: 0 0 64px;
          width: 64px;
          min-height: 64px;

          img,
          .image-placeholder {
            height: 64px;
            width: 64px;
            border-radius: 64px;
            background: $light;
            padding: 0;
            border: 1px solid #8b8b8b;
            display: flex;
            align-items: center;
            justify-content: center;
          }

          img {
            object-fit: cover;
          }

          .image-placeholder {
            color: $dark;
            font-size: 1.45em;
          }
        }

        .meta {
          min-width: 0;
          flex: 1 1 auto;
        }
      }

      .name h3 {
        margin: 0 0 0.2em;
        font-size: 1.15em;
        line-height: 1.25;
      }

      .voting-result p {
        margin: 0.2em 0;
        font-size: 0.95em;
      }
    }

    .contact {
      display: flex;
      padding: 0.15em 0 0.35em;
      gap: 0.1em;
      flex-wrap: wrap;

      .contact-item {
        flex: 0 0 auto;

        .contact-item-inner {
          padding: 0;
          text-align: left;
        }

        a {
          display: inline-flex;
          align-items: center;
          justify-content: center;
          min-width: 1.8em;
          min-height: 1.8em;
          font-size: 0.95em;
          line-height: 1;
          text-decoration: none;

          &:hover,
          &:focus {
            text-decoration: none;
          }
        }
      }
    }
  }

}

.wrv-accordion {
  a.toggleable {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 1rem 3rem 1rem 1rem;
    color: black;
    font-size: 1.15rem;
    font-weight: 400;
    border-bottom: 3px solid #156cb2;
    background: #f2f7fa;
    &:hover {
      cursor: pointer;
      &::after {
        cursor: pointer;
        border: 1px solid #156cb2;
      }
    }
  }
  .content {
    opacity: 0;
    padding: 0 1rem;
    max-height: 0;
    overflow: hidden;
    clear: both;
    -webkit-transition: all 0.2s ease 0.15s;
    -o-transition: all 0.2s ease 0.15s;
    transition: all 0.2s ease 0.15s;
    p {
      font-size: 1rem;
      font-weight: 300;
    }
    &.active {
      opacity: 1;
      padding: 1rem;
      max-height: 100%;
      -webkit-transition: all 0.35s ease 0.15s;
      -o-transition: all 0.35s ease 0.15s;
      transition: all 0.35s ease 0.15s;
    }
  }
}

@media screen and (max-width: $sidebar-breakpoint) {
  .grid-item {
    flex: 1 0 50%;
  }
}


@media screen and (max-width: 768px) {
  .grid-item {
    flex: 1 0 100%;
  }

  .grid-item .candidate-card .card-content .identity {
    gap: 0.55em;
  }
}
