---
---

@import "{{ site.theme }}";
@import "variables";
@import "typography";
@import "theme_overrides";


/* ---------- MAIN MENU STYLING --------- */
#main-menu {
  background: $green;
  padding: 1em;

  .inner {
    max-width: 1366px;
    padding: 0 2%;
  }
}

#main-menu a {
  color: $light;
}

#main-menu a.current {
  text-decoration: underline;
}

#main-menu ul {
  list-style-type: none;
  margin-bottom: 0;
  padding-left: 0;
}

#main-menu li {
  display: inline-block;
  padding-right: 3em;
}


/* ----------- COLLAPSABLE LISTS --------- */

/* Make buttons inline with their headings */
button.toggle-button {
  float: right;
}

/* Style buttons to be less ugly */
button.toggle-button {
  color: black;
  background-color: Transparent;
  border: 0.2em solid black;
  font-size: smaller;

  /* Push button down a touch */
  margin-top: 0.2em;
}

button.toggle-button:hover {
  color: white;
  background-color: black;
}


h2.inline, h3.inline, h4.inline {
  display: inline;
}

/* h4 and h3 do not look sufficiently different. */
h4.race-wrapper, h4.inline {
  font-size: 16px;
}

/* Stop buttons from crashing into each other */
div.spacer {
  display: block;
  min-height: 2em;
}

/* Move continuation UL elements up so they look
 * like they merged with the previous lists.
 */
ul.continue {
  margin-top: -15px;
}


/* ------------ FOOTER STYLING ----------- */

/* Make footer more appealing visually. */
div.footer-columns {
  column-count: 3;
}

div.footer {
  font-size: smaller;
}

p.bigger {
  font-size: larger;
}

/* Make columns line up better */
div.footer-columns p {
  margin: 0 0 0.5ex 0;
}

/* Don't underline links unless they are highlighted */
div.footer-columns a {
  text-decoration: none;
}

div.footer-columns a:hover {
  text-decoration: underline;
}

p.sharing a {
  margin-left: 0.5em;
  margin-right: 0.5em;
}


/* ---------- EMAIL OBFUSCATION ----------- */

/* Email obfuscation, stolen from CivicTechWR page. */
my-email::after {
  content: attr(data-domain);
}

my-email::before {
  content: attr(data-user) "\0040";
}

/* --------- FRONT PAGE ------------- */

/* Make big bold text */
p.bigtext {
  text-align: center;
  font-size: x-large;
}

/* ------ EMBED GOOGLE CALENDAR RESPONSIVELY ----- */

/* Embed Google calendar responsively.
 * See: embedresponsively.com
 */
.embedContainer {
    position: relative;
    padding-bottom: 56.25%;
    overflow: hidden;
    max-width: 100%;

    /* This should probably be rex, but that
     * does not exist. It is not clear whether
     * rem or em is more appropriate.
     */
    /* height: 20em; */
    height: 0;
}

.embedContainer iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


<<<<<<< HEAD
/* ------ REDO SEARCHABLE MAP ----- */

#map {
    /* float:left; */
    width:100%;
    height:40em;
}

#map-searchbar {
    width: 100%;
    margin-bottom: 2em;
    padding-bottom: 2em;
}
.search-input {
        /* font-family:Courier */
}
.leaflet-control-search .search-input {
    max-width:20em;
    min-width:20em;
}

=======
>>>>>>> override theme and add colours

