---
---

@import "{{ site.theme }}";

#main-menu a { 
  color:#fff;
} 

#main-menu a.current { 
  text-decoration: underline;
}

#main-menu ul {
  padding-top: 1em;
  list-style-type: none;
}

#main-menu li {
  display: inline-block;
  padding-left: 2.5em;
  padding-right: 2.5em;
}

/* Make buttons inline with their headings */
button.toggle-button { 
  float: right;
}

h2.inline, h3.inline {
  display: inline;
}

/* Stop buttons from crashing into each other */
div.spacer { 
  display: block;
  min-height: 2em;
}

/* Add space between races */
div.race-wrapper { 
  margin-bottom: 3em;
}

/* Make footer more appealing visually. */
div.footer-columns { 
  column-count: 3;
  font-size: smaller;
}

/* Make columns line up better */
div.footer-columns p { 
  margin: 0 0 0.5ex 0;
}

/* Email obfuscation, stolen from CivicTechWR page. */
my-email::after {
  content: attr(data-domain);
}

my-email::before {
  content: attr(data-user) "\0040";
}

