
# GitHub authentication is done via an SSH key.
# I think this cannot have a passphrase (ugh).
# 
# In GitHub I add the public key as a deploy key in 
#   https://github.com/CivicTechWR/WRvotes/settings/keys 
# for the WRvotes repo
# 
# Specify the full path to the ssh key here:
github_ssh_key: '/home/pnijjar/.ssh/id_rsa_wrv_deploy'


# Should be generated as a service account .json file
# in https://console.cloud.google.com/iam-admin/serviceaccounts/ 
# then Keys
# 
# You need to create a NEW key and get the JSON for it. 
#
service_credentials: '/home/pnijjar/src/WRVotesPlaceholder/scripts/secrets/waterlooregionvotes-212715-23a08f963ed7.json'


# The important thing for each remotesrc sheet is the gid. Look for the
# gid=<...> parameter when selecting the tab in the spreadsheet.

# General format: 
# https://docs.google.com/spreadsheets/d/<Spreadsheet ID>/export?format=csv&gid=<Sheet ID>
# For example: 
# https://docs.google.com/spreadsheets/d/1IyaCHY-17J3CFfYHMw_Gx1llWfxoBb2p5O1oY94EXYI/export?format=csv&gid=1636140461

# Assume every source ends with .csv

sources:
  'nominees': 
    folder: sync
    key: UniqueID
  'events': 
    folder: sync
    key: RowID
    remotesrc: 'https://docs.google.com/spreadsheets/d/1IyaCHY-17J3CFfYHMw_Gx1llWfxoBb2p5O1oY94EXYI/export?format=csv&gid=597743808'
  'media': 
    folder: sync
    key: URL
    remotesrc: 'https://docs.google.com/spreadsheets/d/1IyaCHY-17J3CFfYHMw_Gx1llWfxoBb2p5O1oY94EXYI/export?format=csv&gid=1354879912'
  'position-tags': 
    folder: internal
    key: PositionUniqueName
  'media-categories': 
    folder: internal
    key: CategoryName
  'aliases': 
    folder: internal
    key: Alias

# remotesrc is the ID of the Google Drive folder to sync
# For example
#   https://drive.google.com/drive/folders/19_hz3s7nDPW8ljot4DjQZBYj1Yua3SmZ
# has an ID of 
#   '19_hz3s7nDPW8ljot4DjQZBYj1Yua3SmZ'
# 
# localfolder is relative to gitdir
foldersync:
  'candidate-images':
    remoteid: '19_hz3s7nDPW8ljot4DjQZBYj1Yua3SmZ'
    localfolder: 'docs/assets/images/nominees'

# Used for parsing dates
timezone: 'America/Toronto'

# The root of the git config file
gitdir: /home/pnijjar/src/wrvotes-dup

# The path to the CSV files, relative to GITDIR
targetdir: docs/_data/

# Assorted debugging parameters. 
# Higher thresholds are more verbose.
debug:
  screen:
    enable: true
    threshold: 4
  log: 
    enable: true
    logfile: /tmp/gdocs-get.log
    threshold: 1
  errors:
    level: 0
  default:
    level: 3

